<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.pneumoniadetector">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PneumoniaDetector"
        tools:targetApi="31">
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.landingpage.LandingPageActivity"
            android:exported="true"
            android:label="Landing Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.camera.CameraActivity"
            android:exported="false"
            android:label="Camera"/>
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.preview.PreviewActivity"
            android:exported="false"
            android:label="Preview" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.login.LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.register.RegisterActivity"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.detail.EditDetailActivity"
            android:exported="false"
            android:label="Edit Detail" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.profile.EditProfileActivity"
            android:exported="false"
            android:label="Edit Profile" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.detail.DetailActivity"
            android:exported="false"
            android:label="Detail" />
        <activity
            android:name="com.bangkit.pneumoniadetector.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>